@charset "UTF-8";

body {
    color: #242424;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-size: cover;
    background-image: url(images/blue_brown.png);
  }

#container{
	width: 768px;
	height: auto;
	background-color: white;
	margin: auto;
}

/*Float aside so that it displays next to main*/
aside {
    width: 150px;
    height: 1200px;
    float: left;
    background-color: #4F4F4F;
}

header{
    width: 768px;
    height: 250px;
    background-image: url(images/header_final.jpg);
}

/*Float the main so it shows up next to the aside. Reduce width by 150px so that they both line up with header*/
main{
    width: 598px;
    height: 1600px;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
img {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    float: right;
}
.floatLeft{
	float: left;
}
article {
    margin-bottom: 50px;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

/*Clear the float so that the footer shows up in the right place again.*/
footer{
    width: 768px;
    height: 50px;
	background-color: #4F4F4F;
    clear: both;
}

h1 {
    color: #4E2F1C;
  font-family: gitan-latin,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24pt;
}

p{
  font-family: canada-type-gibson,sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
nav {
    width: 768px;
    height: 50px;
}
#container nav li {
    display: block;
    list-style-type: none;
    float: left;
    margin: 0px 60px 0px 0px;
    width: 80px;
	font-family: neonoir, sans-serif;
	font-size: 18pt;
}
#container nav ul {
    margin: auto;
    width: 565px;
}

nav a:link {
    color: #4D2E1C;
    text-decoration: none;
	
}
nav a:visited {
    text-decoration: none;
    color: #5B2D84;
}
nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
	background-color: #4D2E1C;
	padding: 10px;
	border-radius: 20px
}
nav a:active {
    text-decoration: none;
    color: #242424;
}


.submit_btn {
    width: 170px;
    height: 30px;
    border-radius: 10px;
    background-color: #4F2F1C;
    color: #FFFFFF;
    font-size: 16px;
   
}

.submit_btn:hover{
 -webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;	
}
